################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearningSemanticKernel/.vs/LearningSemanticKernel
/LearningSemanticKernel/LearningSemanticKernel/obj
/LearningSemanticKernel/LearningSemanticKernel/LearningSemanticKernel.csproj.user
/LearningSemanticKernel/LearningSemanticKernel/bin/Debug/net8.0
/LearningSemanticKernel/.vs/ProjectEvaluation
